<h2><%= t('.posts_title')%></h2>

<div class="container">
  <div class="row">
    <%= paginate @posts %>
  </div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col">
        <h4><%= post.title %></h4>
      </div>
      <div class="col">
        <%= truncate(post.body, length: 250) do %>
          <hr>
          <%= link_to 'Read full article', post_path(post.id), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <%= paginate @posts %>
  </div>
</div>
