<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-default">

      <a class="navbar-brand" href="/">
        My first Blog
      </a>
      <%= link_to 'EN', locales_path(locale: :en), method: :patch %>
      <%= link_to 'DE', locales_path(locale: :de), method: :patch %>
      <%= image_tag(asset_path('Daily-Boxes-2-300px.png')) %>
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <% if notice.present? %>
          <% flash_as_array(notice).each do |msg| %>
          <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= msg %>
          </div>
          <% end %>
        <% end %>
        <%# flash[:alert] %>
        <% if alert.present? %>
          <% flash_as_array(alert).each do |msg| %>
          <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= msg %>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
